<footer>
  <div class="ft-info">
    <div class="ft-social-links">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="ft-copyright">&copy; Wanderlust Private Limited.</div>
    <div class="ft-links">
      <a href="/privacy">Privacy</a>
      <a href="/policy">Policy</a>
    </div>
    <div class="ft-links">
      <p>&copy; 2024. All rights reserved. Built by <a href="https://github.com/quantumsn">Samprity Nayak</a></p>
    </div>
  </div>
</footer>